.group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  color: var(--grey-500);
}

.input {
  text-align: right;
  background-color: var(--grey-50);
  border: 1px solid var(--grey-50);
  border-radius: 8px;
  padding: 10px;
  color: var(--green-900);

  -moz-appearance: textfield;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

.input:focus {
  outline: 2px solid var(--green-400);
  box-shadow: none;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
