.group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  color: var(--grey-500);

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.wrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 25%;
  left: 5%;
}

.input {
  width: 100%;
  text-align: right;
  background-color: var(--grey-50);
  border: 1px solid var(--grey-50);
  border-radius: 8px;
  padding: 10px;
  color: var(--green-900);

  -moz-appearance: textfield;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;

  transition: all 0.3s ease-in;
}

.input:focus,
.input:hover {
  outline: 2px solid var(--green-400);
  box-shadow: none;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  text-align: right;
  color: var(--danger);
  font-size: 14px;
}
