.group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  color: var(--white);
}

.subtext {
  color: var(--grey-400);
}

.tip {
  color: var(--green-400);
}
