.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item {
  background-color: var(--green-900);
  color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--green-900);
  padding: 10px;
}

.input {
  background-color: var(--grey-50);
  border: 1px solid var(--grey-50);
  border-radius: 8px;
  padding: 10px;
}
