.tip {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item {
  background-color: var(--green-900);
  color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--green-900);
  padding: 10px;
  cursor: pointer;
}

.item:focus {
  background-color: var(--green-400);
  outline: 1px solid var(--green-400);
  border: 1px solid var(--green-400);
  color: var(--green-900);
}

.label {
  color: var(--grey-500);
}

.input {
  background-color: var(--grey-50);
  border: 1px solid var(--grey-50);
  border-radius: 8px;
  padding: 10px;

  width: 100%;
  text-align: center;

  -moz-appearance: textfield;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input::placeholder {
  color: var(--green-900);
}
