.tip {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.label {
  color: var(--grey-500);
}

.input {
  background-color: var(--grey-50);
  border: 1px solid var(--grey-50);
  color: var(--green-900);
  border-radius: 8px;
  padding: 10px;

  width: 100%;
  text-align: right;
  transition: all 0.3s ease-in;

  -moz-appearance: textfield;
}

.input:hover {
  outline: 2px solid var(--hover-btn-bg);
}

.input::placeholder {
  text-align: center;
}

.input:focus {
  outline: 2px solid var(--green-400);
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input::placeholder {
  color: var(--green-900);
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
